# ── Servidor ───────────────────────────────────────────
PORT=5000
NODE_ENV=development

# ── JWT ────────────────────────────────────────────────
JWT_SECRET=cambia_esto_por_algo_muy_secreto_2024
JWT_EXPIRES_IN=7d

# ── SQL Server ─────────────────────────────────────────
DB_HOST=DESKTOP-TQK76M4
DB_PORT=1433
DB_NAME=MaxiDespensa
DB_USER=usu_her
DB_PASSWORD=Teamomuxo123
DB_WINDOWS_AUTH=false
DB_ENCRYPT=true

# Si usas SQL Server Express:
# DB_HOST=localhost\\SQLEXPRESS

# Si usas autenticación Windows en lugar de sa:
# DB_WINDOWS_AUTH=true

# Si usas Azure SQL:
# DB_HOST=tu-servidor.database.windows.net
# DB_ENCRYPT=true
